/* navigation */

body {
    margin: 0px 0px 0px 0px;
}

#navbar {
    flex-direction: column;
}

#navbar ul li a {
    font-size: .7rem;
    padding: 0px 3px;
    padding-bottom: 8px;
}


/* home section  */

.home {
    height: 370px;
    padding: 3px 28px;
}

.home::before {
    height: 480px;
}

.home p {
    font-size: small;
}


/* services section  */

#services1 {
    flex-wrap: wrap;
}

#services .box {
    background-color: rgb(227, 243, 245);
    width: 90%;
    border-radius: 25px;
    margin: 10px 10px 10px 10x;
    padding: 10px 10x;
    border: 2px solid rgb(11, 12, 12);
    text-align: center;
}


/* client section  */


/* 
#client-section {
    flex-wrap: wrap;
} */

#clients {
    flex-wrap: wrap;
}

.client-item img {
    width: 100px;
    padding: 10px;
}


/* contact section  */

.contact-box form {
    width: 80%;
}


/* utility section  */

.h1 {
    font-size: 20px;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}